<h1>Create Articles</h1>

<% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %><br/>
        <%= f.text_field :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>

